

ul{
    font-family: 'Lobster', cursive;
    padding: 0.8rem;
    font-size: 1.3rem;
}
ul > .liNav > a{
    text-decoration: none;
}


.liNav {
    color: #f00;
    position: relative;
}

.liNav::after {
    position: absolute;
    left: 50%;
    bottom: -10px;
    content: "";
    width: 0%;
    height: 4px;
    background-color: red;
    transition: all .3s ease-in-out;

}

.liNav:hover {
    cursor: pointer;
}

.liNav:hover::after {
    width: 100%;
    left: 0%;

}


