ul{
    font-family: 'Lobster', cursive;
    padding: 0.8rem;
    font-size: 1.3rem;
}
ul > a{
    text-decoration: none;
}
span{
    color:  #02475e;
}



.Link{
color:white;
font-size: 5rem;
padding: 0.5rem;
}

.login{
    font-family: 'Lobster', cursive; 
    margin-right: 3rem;
}